a { 
  text-decoration: none;
}

.input-template {
  display: inline-block;
}

.instruction {
  display: block;
  margin-bottom: 20px;
}

ul,
li { 
  padding: 0;
  margin: 0;

}

.result-li {
  display: inline-block;
}
