ul,
li {
  padding: 0;
  margin: 0;
}

input,
select,
option,
textarea {
  font-family: monospace;
}

.section {
  margin-bottom: 20px;
}

.inline-text {
  display: inline-block;
}

.signals {
  margin-left: 8px;
}

.reduced-padding {
  padding-left: 10px;
  padding-right: 10px;
}